.big {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: calc(100vh - 6rem);
}

.HomeLogo {
    width: 400px;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 800px) {
    .HomeLogo {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .HomeLogo {
        width: 250px;
    }

    .big {
        gap: 25px;
    }
}