.root {
    --dark-background: #121212;
    --text: #E0E0E0;
    --secondary-text: #B0B0B0;
    --accent: #651fff;
    --container-background: #1E1E1E;
    --borders: #292929;
    --green: #00E676;
    --red: #f44336;
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 6rem - 3.6rem);
    position: relative;
    padding-bottom: 6rem;
    padding-top: 3.6rem;
}