.root {
    --dark-background: #121212;
    --text: #E0E0E0;
    --secondary-text: #B0B0B0;
    --accent: #651fff;
    --container-background: #1E1E1E;
    --borders: #292929;
    --green: #00E676;
    --red: #f44336;
    background-color: var(--dark-background);
    height: fit-content;
}