.search-box {
  position: relative;
  width: 100%;
  font-family: 'Poppins';
  display: flex;
}

.search-icon {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.search-input {
  padding: 0.8rem;
  font-size: clamp(0.8rem, 0.8vw, 1.1rem);
  border: none;
  border-radius: 15px;
  width: 100%;
}

.suggestions-list {
  position: absolute;
  background-color: var(--dark-background);
  border: 1px solid var(--borders);
  border-radius: 4px;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  max-height: 12rem;
  overflow-y: auto;
  width: 100%;
  margin-top: 3rem;
  list-style: none;
  padding: 0;
}

.suggestions-list li {
  padding: 0.6rem;
  cursor: pointer;
  color: var(--text);
  border: 1px solid var(--borders);
}

.suggestions-list li:hover {
  background-color: var(--container-background);
}

.search-input::-webkit-input-placeholder {
  font-family: 'Poppins';
}

.search-input:-ms-input-placeholder {
  font-family: 'Poppins';
}

.search-input:-moz-placeholder {
  font-family: 'Poppins';
}

.search-input::-moz-placeholder {
  font-family: 'Poppins';
}

@media (max-width: 768px) {
  .search-input {
    padding: 0.6rem;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    border: none;
    border-radius: 15px;
    width: 100%;
  }
}